/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Primary: #ae9962;
	--Lightest: #d6ccb0;
	--Dark: #3e3d40;
	--FontFamily: 'Roche Sans Light Light';
	--LogoImage: url('../Images/735342000154-cz-shadow-en-07-2019/ceska-zbrojovka-vector-logo.png');
}

